node-red code.json
[{"id":"37862476.51d5fc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3235d4e9.f2836c","type":"ui_form","z":"37862476.51d5fc","name":"","label":"Area","group":"f7f7c61.2fc6838","order":0,"width":0,"height":0,"options":[{"label":"","value":"Area","type":"text","required":true,"rows":null}],"formValue":{"Area":""},"payload":"","submit":"Submit","cancel":"Reset","topic":"","x":110,"y":40,"wires":[["da1893e5.6467c"]]},{"id":"da1893e5.6467c","type":"debug","z":"37862476.51d5fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":40,"wires":[]},{"id":"bce5edf2.52af","type":"ui_switch","z":"37862476.51d5fc","name":"","label":"Automatic","tooltip":"Motor will be on when temperature is greater than 27°C, humidity is less than 25% and soil moisture is less than 35%","group":"4fe97c26.c9fe14","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":80,"wires":[["c6dbef7c.73cae"]]},{"id":"c6dbef7c.73cae","type":"switch","z":"37862476.51d5fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":80,"wires":[["7c274b6.b1426b4","600fc415.1bfe5c","7448d12.134b93"],["133d4a5e.d25e96","5c3226a7.2990a8"]]},{"id":"7c274b6.b1426b4","type":"change","z":"37862476.51d5fc","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":80,"wires":[["e8d52a02.53b3b8","4aec5b73.81d4d4"]]},{"id":"133d4a5e.d25e96","type":"change","z":"37862476.51d5fc","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":120,"wires":[["e8d52a02.53b3b8","4aec5b73.81d4d4"]]},{"id":"e8d52a02.53b3b8","type":"ui_switch","z":"37862476.51d5fc","name":"","label":"30 minutes","tooltip":"","group":"4fe97c26.c9fe14","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Motor On","onvalueType":"str","onicon":"radio_button_checked","oncolor":"green","offvalue":"Motor Off","offvalueType":"str","officon":"radio_button_unchecked","offcolor":"red","x":680,"y":100,"wires":[["d07acf1b.8af75"]]},{"id":"ec25492d.f22458","type":"ui_switch","z":"37862476.51d5fc","name":"","label":"Manual","tooltip":"","group":"4fe97c26.c9fe14","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":200,"wires":[["27289b8e.b696f4"]]},{"id":"27289b8e.b696f4","type":"switch","z":"37862476.51d5fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":200,"wires":[["252a04af.c27a2c"],["b0c379f3.bb8008"]]},{"id":"252a04af.c27a2c","type":"change","z":"37862476.51d5fc","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":200,"wires":[["ba864ce6.f1386","52939e64.545cd"]]},{"id":"b0c379f3.bb8008","type":"change","z":"37862476.51d5fc","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":240,"wires":[["52939e64.545cd","ba864ce6.f1386"]]},{"id":"ba864ce6.f1386","type":"ui_button","z":"37862476.51d5fc","name":"","group":"4fe97c26.c9fe14","order":6,"width":0,"height":0,"passthru":false,"label":"Motor On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Motor_On\"}","payloadType":"json","topic":"","x":620,"y":200,"wires":[["f22bb600.1d97f8","293c5d6b.336a92"]]},{"id":"52939e64.545cd","type":"ui_button","z":"37862476.51d5fc","name":"","group":"4fe97c26.c9fe14","order":7,"width":0,"height":0,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Motor_Off\"}","payloadType":"json","topic":"","x":620,"y":240,"wires":[["f22bb600.1d97f8","293c5d6b.336a92"]]},{"id":"4aec5b73.81d4d4","type":"ui_switch","z":"37862476.51d5fc","name":"","label":"1 hour","tooltip":"","group":"4fe97c26.c9fe14","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"Motor On","onvalueType":"str","onicon":"radio-button_checked","oncolor":"green","offvalue":"Motor Off","offvalueType":"str","officon":"radio_button_unchecked","offcolor":"red","x":670,"y":140,"wires":[["66630e2a.f380a"]]},{"id":"5c3226a7.2990a8","type":"change","z":"37862476.51d5fc","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":120,"wires":[["ec25492d.f22458"]]},{"id":"600fc415.1bfe5c","type":"change","z":"37862476.51d5fc","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":160,"wires":[["ec25492d.f22458"]]},{"id":"d07acf1b.8af75","type":"switch","z":"37862476.51d5fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":100,"wires":[["fff28b8c.06a8f8"],["c1119.d0f8cee7"]]},{"id":"c1119.d0f8cee7","type":"change","z":"37862476.51d5fc","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":140,"wires":[["4aec5b73.81d4d4"]]},{"id":"fff28b8c.06a8f8","type":"change","z":"37862476.51d5fc","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":180,"wires":[["4aec5b73.81d4d4"]]},{"id":"76575a5b.1c54f4","type":"ui_chart","z":"37862476.51d5fc","name":"","group":"55a5417.38a12c","order":2,"width":6,"height":6,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"70","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":410,"y":280,"wires":[[]]},{"id":"e6dddff8.d5ca4","type":"ui_gauge","z":"37862476.51d5fc","name":"","group":"55a5417.38a12c","order":4,"width":6,"height":6,"gtype":"wave","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":320,"wires":[]},{"id":"5b03b878.e31e68","type":"ui_chart","z":"37862476.51d5fc","name":"","group":"55a5417.38a12c","order":6,"width":6,"height":6,"label":"Water Content","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":420,"y":360,"wires":[[]]},{"id":"97d8f860.459078","type":"function","z":"37862476.51d5fc","name":"","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":280,"wires":[["76575a5b.1c54f4"]]},{"id":"cb879a1f.160a28","type":"function","z":"37862476.51d5fc","name":"","func":"msg.payload = msg.payload.distance;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":320,"wires":[["e6dddff8.d5ca4"]]},{"id":"f1f751d.38e06b","type":"function","z":"37862476.51d5fc","name":"","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":360,"wires":[["5b03b878.e31e68"]]},{"id":"b66cb3ac.dab67","type":"ibmiot in","z":"37862476.51d5fc","authentication":"apiKey","apiKey":"7c283895.b18af8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Arduino","applicationId":"","deviceType":"IOTdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT input","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":320,"wires":[["38d5d7da.c20518","97d8f860.459078","f1f751d.38e06b","cb879a1f.160a28"]]},{"id":"38d5d7da.c20518","type":"debug","z":"37862476.51d5fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":400,"wires":[]},{"id":"90f5d830.659d38","type":"debug","z":"37862476.51d5fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":480,"wires":[]},{"id":"f9d49502.90c3b8","type":"openweathermap in","z":"37862476.51d5fc","name":"","wtype":"current","lon":"78.47","lat":"17.38","city":"","country":"","language":"en","x":100,"y":500,"wires":[["5cb1a183.6c9ed","13a1414b.accebf","8e74061b.dd3bb8","38b52417.79440c"]]},{"id":"38b52417.79440c","type":"function","z":"37862476.51d5fc","name":"Temperature","func":"msg.payload = msg.payload.tempc\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":500,"wires":[["90f5d830.659d38","20102f4b.1c42b"]]},{"id":"8e74061b.dd3bb8","type":"function","z":"37862476.51d5fc","name":"humidity","func":"msg.payload = msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":540,"wires":[["90f5d830.659d38","e499bb4f.18b408"]]},{"id":"13a1414b.accebf","type":"function","z":"37862476.51d5fc","name":"pressure","func":"msg.payload = msg.payload.pressure\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":580,"wires":[["db12eb1f.1f1f08","90f5d830.659d38"]]},{"id":"5cb1a183.6c9ed","type":"function","z":"37862476.51d5fc","name":"wind_speed","func":"msg.payload = msg.payload.windspeed\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":620,"wires":[["6419d841.34dd28","90f5d830.659d38"]]},{"id":"db12eb1f.1f1f08","type":"ui_gauge","z":"37862476.51d5fc","name":"","group":"f2ce3acf.293c58","order":22,"width":6,"height":6,"gtype":"compass","title":"Pressure","label":"hPa","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":640,"wires":[]},{"id":"6419d841.34dd28","type":"ui_gauge","z":"37862476.51d5fc","name":"","group":"f2ce3acf.293c58","order":2,"width":6,"height":6,"gtype":"compass","title":"Wind Speed","label":"m/sec","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":680,"wires":[]},{"id":"66630e2a.f380a","type":"switch","z":"37862476.51d5fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":260,"wires":[[],[]]},{"id":"7448d12.134b93","type":"change","z":"37862476.51d5fc","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":160,"wires":[["ba864ce6.f1386","52939e64.545cd"]]},{"id":"f22bb600.1d97f8","type":"ibmiot out","z":"37862476.51d5fc","authentication":"apiKey","apiKey":"7c283895.b18af8","outputType":"cmd","deviceId":"Arduino1","deviceType":"IOTdevice","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT output","service":"registered","x":780,"y":320,"wires":[]},{"id":"293c5d6b.336a92","type":"function","z":"37862476.51d5fc","name":"","func":"if(msg.payload.command == \"Motor_On\")\n{\n    msg.payload = \"Motor On\";\n}\nelse if (msg.payload.command == \"Motor_Off\")\n{\n    msg.payload = \"Motor Off\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":380,"wires":[["66552355.aef0ec"]]},{"id":"66552355.aef0ec","type":"ui_toast","z":"37862476.51d5fc","position":"top right","displayTime":"2","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":820,"y":380,"wires":[]},{"id":"20102f4b.1c42b","type":"ui_gauge","z":"37862476.51d5fc","name":"","group":"f2ce3acf.293c58","order":24,"width":6,"height":6,"gtype":"compass","title":"Temperature","label":"degree Celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":560,"wires":[]},{"id":"e499bb4f.18b408","type":"ui_gauge","z":"37862476.51d5fc","name":"","group":"f2ce3acf.293c58","order":4,"width":6,"height":6,"gtype":"compass","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":600,"wires":[]},{"id":"f7f7c61.2fc6838","type":"ui_group","z":"","name":"","tab":"9753f5e.fe76808","order":1,"disp":true,"width":"6","collapse":false},{"id":"4fe97c26.c9fe14","type":"ui_group","z":"","name":"","tab":"9d66c552.769928","order":1,"disp":true,"width":"6","collapse":false},{"id":"55a5417.38a12c","type":"ui_group","z":"","name":"","tab":"9dbedc13.bd194","order":1,"disp":true,"width":22,"collapse":false},{"id":"7c283895.b18af8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f2ce3acf.293c58","type":"ui_group","z":"","name":"","tab":"1f7e8167.0fb83f","order":1,"disp":true,"width":17,"collapse":false},{"id":"9753f5e.fe76808","type":"ui_tab","z":"","name":"Region","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"9d66c552.769928","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"9dbedc13.bd194","type":"ui_tab","z":"","name":"Crop condition","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"1f7e8167.0fb83f","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","order":3,"disabled":false,"hidden":false}]